<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/alertify.min.css">
  <title>Todo App</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/alertify.min.js"></script>
  <script>
      $(document).ready(function(){
        $('#text').focus();
        setInterval(function() {
          realTime();
        }, 1500);

        function realTime() {
          var startDiv = $('.sizerwrapper a')[0];
          var startId = $(startDiv).attr('data-id');
          $.ajax({
            type: 'GET',
            url: '/todo/real/'+ startId,
            dataType: 'json',
            success: function(response) {
              if(response.status == 'success') {

                var todos = response.todo;
                if(todos['0'] == undefined) {
                  return;
                } else {
                  $('.sizerwrapper').prepend('<a href="/todo/'+ todos['0']._id +'"' + 'data-id='+ todos['0']._id +'><div class="sizer"><div class="square"><div class="content"><div class="text">'+ todos['0'].text +'</div></div></div></div></a>')

                }

              }

            },
            error: function(err) {
              var error = JSON.parse(err.responseText);
              alertify.error(error.message);

            }

          })

        }
        alertify.set('notifier','position', 'top-right');
        $('#text').keyup(function(e) {
          if(e.keyCode == 13) {
            save();
          }
        })
        $('#save').click(function(e) {
          save();
        });


        $('#more').click(function() {
          var length = $('.sizerwrapper a').length;
          var lastDiv = $('.sizerwrapper a')[length-1];
          var lastId = $(lastDiv).attr('data-id');

          $.ajax({
            type: 'GET',
            url: '/todo/more/'+ lastId,
            dataType: 'json',
            headers: {
              'x-auth': localStorage.getItem('token')
            },
            success: function(response) {
              if(response.status == 'success') {
                alertify.success(response.message);
                var todos = response.todo;

                todos.forEach((todo) => {
                  $('.sizerwrapper').append('<a href="/todo/'+ todo._id +'"' + 'data-id='+ todo._id +'><div class="sizer"><div class="square"><div class="content"><div class="text">'+ todo.text +'</div></div></div></div></a>')
                })
              }

            },
            error: function(err) {
              var error = JSON.parse(err.responseText);
              alertify.error(error.message);
              $('#more').hide();
            }
          })
        })

        function save() {
          $.ajax({
            type: 'POST',
            url: '/todo',
            headers: {
              'x-auth': localStorage.getItem('token')
            },
            dataType: 'json',
            data: {
              'text': $('#text').val()
            },
            success: function(response) {
              if(response.status == 'success') {
                alertify.success(response.message);
                $('.sizerwrapper').prepend('<a href="/todo/'+ response.result._id +'"' + 'data-id='+ response.result._id +'><div class="sizer"><div class="square"><div class="content"><div class="text">'+ response.result.text +'</div></div></div></div></a>')
                $('#text').val("");
              }
            },
            error: function(err) {
              var error = JSON.parse(err.responseText);
              alertify.error(error.message);
            }
          })
        }
      })

  </script>
</head>
<body style="background-color: #ffec99;">
  <div class="container">
    <div id="whitebox">
      <input type="text" id="text" name="text" placeholder="해야하는 일을 적으세요">
      <div id="savewrapper">
        <button id="save">추가</button>
      </div>
    </div>

    <div class="sizerwrapper">

      <% for(var i = 0; i < todo.length; i++) { %>
          <a href="/todo/<%= todo[i]._id %>" data-id="<%= todo[i]._id %>">
            <div class="sizer">
              <div class="square">
                <div class="content">
                  <div class="text"><%= todo[i].text %></div>
                </div>
              </div>
            </div>
          </a>

      <% } %>

    </div>
    <div id="more">더보기</div>
  </div>
</body>
</html>
